.side-bar
  .user-name
    .user-name__side-box
      %p.user-name__side-box__user-name
        = current_user.name
      %ul.user-name__side-box__menu
        %li.user-name__side-box__new-group
          = link_to new_group_path do
            = icon('fa', 'edit')
        %li.user-name__side-box__edit-user
          =link_to edit_user_path(current_user) do
            = icon('fa', 'cog')
  .group-list
    - current_user.groups.each do |group|
      = link_to "#", class:"group" do
        %p.group__group-name
          = group.name
        %p.group__group-message
          メッセージはありません